@(vendedores : Set[Vendedor])

@layout("Todos Los vendedores"){
    <h1>Vendedores</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Id</th>
            <th>Celular</th>
            <th>Estado</th>
            <th>Fecha Ingreso</th>
        </tr>
        </thead>
        <tbody>
        @for(vendedor <- vendedores){
            <tr>
                <td><a href="@routes.VendedorController.show(vendedor.id)">@vendedor.nombre</a></td>
                <td>@vendedor.id</a></td>
                <td>@vendedor.numCelular</td>
                <td>@vendedor.estado</td>
                <td>@vendedor.fechaIngreso.toString()</td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <a href="@routes.VendedorController.create()" class="btn btn-primary"><i class="icon-plus"></i>Agregar Vendedor</a>
}